// Bulma/Buefy variable overrides that do not depend on Bulma's variables
$primary: #547CB8;
$warning: #E3B264;
$danger: #DD4B39;
$input-shadow: none;

// Non-override colors
$secondary: #7550A6;
$tertiary: #4C9E57;

$playerColors: (
  $primary,
  $danger,
  $warning,
  $tertiary
);

// Bulma's variables files
@import '~bulma/sass/utilities/initial-variables.sass';
@import '~bulma/sass/utilities/functions.sass';
@import '~bulma/sass/utilities/derived-variables.scss';
@import '~bulma/sass/utilities/mixins.sass';

// Bulma/Buefy variable overrides that depend on Bulma's variables
$background-gray: $light;

// Mixins needed in components
@mixin between($device-min, $device-max) {
  @media screen and (min-width: $device-min) and (max-width: $device-max - 1px) {
    @content;
  }
}

@mixin serif {
  font-family: 'EB Garamond', serif;
}

@mixin sans-serif {
  font-family: 'Baloo 2', sans-serif;
}